
        <footer class="fixed-bottom bg-light">
           <div class="container">
            <p class="text-center"><%-footerName%></p>
           </div>
        </footer>
        
    </body>
</html>